@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  overflow-y: hidden;
}

/* For invalid form inputs */
input.invalid {
  background-color: #fdd;
}

/* For invalid buttons */
button[type='submit'].disabled {
  background-color: #efefef;
  border: 2px solid #efefef;
  color: black;
}
